/************ Login - Register ************/

#dark-blue {
    -fx-background-color:
            #090a0c,
            linear-gradient(#20262b, #191d22);
    -fx-font-family: "Lato";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
}
#dark-blue:hover {
    -fx-background-color:
            #ffffff,
            linear-gradient(#20262b, #191d22);
}
#dark-blue:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}

/******************************************/

#centered-text-field {
    -fx-alignment: CENTER;
}

/*noinspection CssUnusedSymbol*/
#leaderboard-gridpane > .label {
    -fx-font-family: "Lato";
    -fx-text-fill: white;
}